<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bankson</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="'100% pålitlig bank'"></h1>
<h2 th:text="${categoryTitle}"></h2>
<div class="allCategories" th:unless="${#lists.isEmpty(allCategories)}">

    <table>
        <th th:text="${name}"></th>
        <tbody>
        <tr th:each="cat : ${allCategories}">
            <td th:text="${cat.name}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
